[submodule "SourceCode/FluentUI"]
	path = SourceCode/FluentUI
	url = git@github.com:CodingDogzxg/FluentUI.git
[submodule "SourceCode/KDChart"]
	path = SourceCode/KDChart
	url = git@github.com:CodingDogzxg/KDChart.git
