[submodule "SourceCode/FluentUI"]
	path = SourceCode/FluentUI
	url = https://github.com/rhzxg/FluentUI.git
[submodule "SourceCode/KDChart"]
	path = SourceCode/KDChart
	url = https://github.com/rhzxg/KDChart.git