QFrame {
    background: #76B9ED;
    border-radius: 10px 10px 10px 10px;
}

QLineEdit {
    background: transparent;
    border: none;
    color: #FFFFFF;
}

QPushButton {
    background: transparent;
    border: none;
}

QPushButton::hover {
    background-color: #72b7ec;
    border-radius: 5px;
}