QFrame {
    background: #FB637E;
    border-radius: 10px 10px 10px 10px;
}

QLineEdit {
    background: transparent;
    border: none;
    color: black;
}

QPushButton {
    background: transparent;
    border: none;
}

QPushButton::hover {
    background-color: #EC546F;
    border-radius: 5px;
}